@model int

<div>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    Number of Donors
                </th>
                <th>
                    @Model.ToString()
                </th>
            </tr>
        </thead>
    </table>
</div>